<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

 

<StackLayout class="page__content" #layout>
   

    <app-buscador (search)="BuscarAhora($event)" [valueIni]="'Elemento'"></app-buscador>


 
   

    <PullToRefresh (refresh)="onPull($event)"
    indicatorFillColor="purple"
    indicatorColor="white"
    >

              <ListView [items]="resultados" 
              (itemTap)="onItemTap($event)" class="list-group">
                <ng-template let-item="item" let-odd="odd" let-even="even">
                  <FlexboxLayout flexDirection="row">
                    <Image src="res://icon" class="thumb img-circle"  ></Image>
                    <Label [text]="item" class="list-group-item"  ></Label>
                    
                  </FlexboxLayout>
                </ng-template>
            </ListView>

    </PullToRefresh>
    


    
</StackLayout>